*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  place-items: center center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  /* grid-template-columns: 711px 399px; */
  align-items: end;
  width: 534px;
}

/* Секция result */

.result {
  grid-area: result;
  margin-right: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400; 
}

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:focus-within  {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-right: none;
  border-left: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  appearance: none;
  width: 225px;
  height: 27px;
  font-size: 18px;
  font-weight: 400; 
  font-style: normal;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield:active {
  border: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background: #FFF;
  height: 15px;
  width: 15px;
}

/* Секция content__details */

.content__details {
  grid-area: content__details;
  height: 100%;
  width: 399px;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  width: 399px;
  overflow: auto;
  position: relative;
}

.content__list {
  display: grid;
  row-gap: 30px;
  width: 390px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  width: 390px;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  border: 1px solid #FFF;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 390px;
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden; /* скрывает текст, который не помещается в блок */
  white-space: nowrap; /* предотвращает перенос текста */
  text-overflow: ellipsis; /* добавляет многоточие */
}

.content__video-card-description {
  line-height: 16.2px;
  line-clamp: 4;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  display: block;
}

/* Кнопки */

.button {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}